{% extends "base.html" %}

{% block content %}
    <h2 style="text-align: center;">Women's Golf Team</h2>

        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-5 col-md-offset-1" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete1.pid }}"> <img src="{{ athlete1.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete1.pid }}">{{ athlete1.lastName }}, {{ athlete1.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete1.school_url }}">{{ athlete1.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete1.school_city }}, {{ athlete1.school_state }}, {{ athlete1.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete1.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete1.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete1.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete1.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete2.pid }}"> <img src="{{ athlete2.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete2.pid }}">{{ athlete2.lastName }}, {{ athlete2.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete2.school_url }}">{{ athlete2.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete2.school_city }}, {{ athlete2.school_state }}, {{ athlete2.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete2.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete2.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete2.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete2.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete3.pid }}"> <img src="{{ athlete3.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete3.pid }}">{{ athlete3.lastName }}, {{ athlete3.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete3.school_url }}">{{ athlete3.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete3.school_city }}, {{ athlete3.school_state }}, {{ athlete3.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete3.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete3.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete3.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete3.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete4.pid }}"> <img src="{{ athlete4.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete4.pid }}">{{ athlete4.lastName }}, {{ athlete4.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete4.school_url }}">{{ athlete4.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete4.school_city }}, {{ athlete4.school_state }}, {{ athlete4.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete4.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete4.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete4.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete4.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete5.pid }}"> <img src="{{ athlete5.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete5.pid }}">{{ athlete5.lastName }}, {{ athlete5.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete5.school_url }}">{{ athlete5.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete5.school_city }}, {{ athlete5.school_state }}, {{ athlete5.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete5.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete5.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete5.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete5.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete6.pid }}"> <img src="{{ athlete6.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete6.pid }}">{{ athlete6.lastName }}, {{ athlete6.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete6.school_url }}">{{ athlete6.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete6.school_city }}, {{ athlete6.school_state }}, {{ athlete6.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete6.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete6.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete6.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete6.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete7.pid }}"> <img src="{{ athlete7.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete7.pid }}">{{ athlete7.lastName }}, {{ athlete7.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete7.school_url }}">{{ athlete7.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete7.school_city }}, {{ athlete7.school_state }}, {{ athlete7.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete7.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete7.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete7.height}}</dd>
                        <dt>Favorite Food:</dt>
                            <dd></dd>
                        <dt><a href="{{ athlete7.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
            border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
            box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{{ athlete8.pid }}"> <img src="{{ athlete8.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete8.pid }}">{{ athlete8.lastName }}, {{ athlete8.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete8.school_url }}">{{ athlete8.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete8.school_city }}, {{ athlete8.school_state }}, {{ athlete8.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete8.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete8.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete8.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd></dd>
                        <dt><a href="{{ athlete8.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
<style>
    a:link{
        color:#FCFCDE;
    }
    a:visited{
        color:#FCFCDE;
    }
</style>

{% endblock %}