{% extends "base.html" %}

{% block content %}
    <div class="row" style="text-align: center; margin: auto;">
        <div class="img-thumbnail pagination-centered" style="background-color: #FCFCEE; min-width: 100%; border-right: none; border-left: none;">
            <img style="max-width: 80%; height: auto; width: 100%; max-height: 400px; border-radius: 5px;"
                 src="{{ image.url_id }}" alt="header" />
        </div>
    </div>
    <h2 style="text-align: center;">Meet The Team..</h2>

        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-5 col-md-offset-1 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete1.pid }}"> <img src="{{ athlete1.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete1.pid }}">{{ athlete1.lastName }}, {{ athlete1.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete1.school_url }}">{{ athlete1.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete1.school_city }}, {{ athlete1.school_state }}, {{ athlete1.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete1.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete1.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete1.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete1.favorite_food}}</dd>
                        <dt><a href="{{ athlete1.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete2.pid }}"> <img src="{{ athlete2.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete2.pid }}">{{ athlete2.lastName }}, {{ athlete2.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete2.school_url }}">{{ athlete2.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete2.school_city }}, {{ athlete2.school_state }}, {{ athlete2.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete2.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete2.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete2.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete2.favorite_food}}</dd>
                        <dt><a href="{{ athlete2.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete3.pid }}"> <img src="{{ athlete3.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete3.pid }}">{{ athlete3.lastName }}, {{ athlete3.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete3.school_url }}">{{ athlete3.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete3.school_city }}, {{ athlete3.school_state }}, {{ athlete3.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete3.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete3.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete3.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete3.favorite_food}}</dd>
                        <dt><a href="{{ athlete3.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete4.pid }}"> <img src="{{ athlete4.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete4.pid }}">{{ athlete4.lastName }}, {{ athlete4.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete4.school_url }}">{{ athlete4.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete4.school_city }}, {{ athlete4.school_state }}, {{ athlete4.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete4.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete4.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete4.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete4.favorite_food}}</dd>
                        <dt><a href="{{ athlete4.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete5.pid }}"> <img src="{{ athlete5.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete5.pid }}">{{ athlete5.lastName }}, {{ athlete5.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete5.school_url }}">{{ athlete5.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete5.school_city }}, {{ athlete5.school_state }}, {{ athlete5.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete5.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete5.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete5.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete5.favorite_food}}</dd>
                        <dt><a href="{{ athlete5.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete6.pid }}"> <img src="{{ athlete6.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete6.pid }}">{{ athlete6.lastName }}, {{ athlete6.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete6.school_url }}">{{ athlete6.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete6.school_city }}, {{ athlete6.school_state }}, {{ athlete6.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete6.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete6.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete6.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete6.favorite_food}}</dd>
                        <dt><a href="{{ athlete6.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete7.pid }}"> <img src="{{ athlete7.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete7.pid }}">{{ athlete7.lastName }}, {{ athlete7.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete7.school_url }}">{{ athlete7.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete7.school_city }}, {{ athlete7.school_state }}, {{ athlete7.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete7.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete7.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete7.height}}</dd>
                        <dt>Favorite Food:</dt>
                            <dd>{{athlete7.favorite_food}}</dd>
                        <dt><a href="{{ athlete7.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5 customDiv1">
                <div class="col-md-1" style="padding-top: 10px;">
                    <a href="{{ athlete8.pid }}"> <img src="{{ athlete8.athlete_image }}" class="img-rounded"></a>
                </div>
                <div class="col-md-11" style="font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{{ athlete8.pid }}">{{ athlete8.lastName }}, {{ athlete8.firstName }}</a></dd>
                        <dt>School:</dt>
                            <dd><a href="{{ athlete8.school_url }}">{{ athlete8.school_name}}</a></dd>
                        <dt>Hometown:</dt>
                            <dd>{{ athlete8.school_city }}, {{ athlete8.school_state }}, {{ athlete8.school_country }}</dd>
                        <dt>Year:</dt>
                            <dd>{{ athlete8.gradYear }}</dd>
                        <dt>Age:</dt>
                            <dd>{{ athlete8.age }}</dd>
                        <dt>Height:</dt>
                            <dd>{{athlete8.height}}</dd>
                        <dt>Favorite Food:</dt>
                           <dd>{{athlete8.favorite_food}}</dd>
                        <dt><a href="{{ athlete8.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-5 col-md-offset-1 customDiv1">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{% url 'roster_home' %}coaches{{ coach1.pid }}"> <img src="{{ coach1.athlete_image }}" class="img-rounded" style="max-height: 440%; max-width: 440%;"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{% url 'roster_home' %}coaches{{ coach1.pid }}">{{ coach1.lastName }}, {{ coach1.firstName }}</a></dd>
                        <dt>Title:</dt>
                            <dd>{{ coach1.title }}</dd>
                        <dt><a href="{% url 'roster_home' %}coaches{{ coach1.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
            <div class="col-md-5 customDiv1">
                <div class="col-md-1" style="padding-right: 0px; padding-top: 10px;">
                    <a href="{% url 'roster_home' %}coaches{{ coach2.pid }}"> <img src="{{ coach2.athlete_image }}" class="img-rounded" style="max-height: 440%; max-width: 440%;"></a>
                </div>
                <div class="col-md-11" style="padding-left: 0px; padding-right: 0px; font-size: smaller; color: #FCFCDE;">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                            <dd><a href="{% url 'roster_home' %}coaches{{ coach2.pid }}">{{ coach2.lastName }}, {{ coach2.firstName }}</a></dd>
                        <dt>Title:</dt>
                            <dd>{{ coach2.title }}</dd>
                        <dt><a href="{% url 'roster_home' %}coaches{{ coach2.pid }}" style="color: #56A0D3;">Full Bio...</a> </dt>
                    </dl>
                </div>
            </div>
        </div>
<style>

</style>

{% endblock %}