{% extends "base.html" %}
{% block content %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8" style="padding-top: 1%;">
                <div class="col-md-4" style=" padding-right: 2%; float: left;">
                    <a href="{{ coach.pid }}"> <img src="{{ coach.athlete_image }}" class="img-rounded img-thumbnail fillDiv"
                    style="border-color: #3c3c3c"></a>
                </div>
                <p class="text-justify">
                    <b>Name: </b> {{ coach.lastName }}, {{ theCoach.firstName }} <br>
                    <b>Title: </b> {{coach.title}} <br>
                    <b>Get To Know {{coach.firtsName}}</b><br>
                    {{coach.details}}
                </p>
            </div>
            <div class="col-md-4">
                <div style="text-align: center; padding-top: 4%;">
                    <a class="twitter-timeline" height="350" width="375" href="https://twitter.com/uncwomensgolf" data-widget-id="439951895113658370">Tweets by @uncwomensgolf</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Tournaments</th>
                <th>Rounds</th>
                <th>Completion %</th>
                <th>Par</th>
                <th>Below Par</th>
                <th>60s</th>
                <th>Low</th>
                <th>High</th>
                <th>Strokes</th>
                <th>Average</th>
            </tr>
            {% for stat in stats %}
            <tr>
                <td>{{stat.firstName}} {{stat.lastName}}</td>
                <td>{{stat.tournaments}}</td>
                <td>{{stat.rounds}}</td>
                <td>{{stat.completion_pct}} ({{stat.rounds_completed}}/{{stat.rounds}})</td>
                <td>{{stat.par}}</td>
                <td>{{stat.below_par}}</td>
                <td>{{stat.sixties}}</td>
                <td>{{stat.low}}</td>
                <td>{{stat.high}}</td>
                <td>{{stat.strokes}}</td>
                <td>{{stat.average}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}