{% extends "base.html" %}
{% block content %}
     <div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2 style="text-align: center">Men's Sports</h2>
            </div>
            <div class="col-md-5">
                <h2 style="text-align: center">Women's Sports</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport2.name}}</h3></a></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport2.name}}</h3></a></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport3.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport14.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport4.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport15.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport5.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport16.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport6.name}}</h3></a>
            </div>  
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport17.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport7.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport18.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport8.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport19.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport9.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport20.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport10.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport21.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport11.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport22.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport12.name}}</h3></a>
            </div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport23.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"></div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport24.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"></div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport25.name}}</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"></div>
            <div class="col-md-5  customGrid">
                <a href="#"><h3 style="text-align: center; color: #FCFCDE;">{{sport26.name}}</h3></a>
            </div>
        </div>
    </div>
<style>
    .customGrid {
        padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #eee;
        border-right: 1px solid #eee; border-left: 1px solid #eee; border-top: 1px solid #eee;
        box-shadow: 6px 6px 5px #888888; background-color: #3c3c3c; border-radius: 5px;
    }
</style>
{% endblock %}